h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
}

div {
    margin: 0 auto;
    width:50%;
    text-align: center;
}

li {
    list-style: none;
    font-size: 1.2em;
    text-align:left;
}

td {
    padding: 10px;
}

.title {
    font-size: 1.5em;
    font-weight: bold;
}